* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}
.container{
  max-width: 1140px;  
  margin: 0 auto;      
  padding: 0 40px;     
}
body {
  background-color: #ffffff;
  color: #1e0e62;
  /* padding: 0 40px; */
}

/* Navbar */
.navbar {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 55px;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #1e0e62;
}

.navLinks {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  color: #a1a1b0;
  font-size: 16px;
  font-weight: 500;
}

.authLinks a {
  margin-left: 20px;
  font-size: 14px;
  text-decoration: none;
}

.login {
  color: #00bfa6;
  font-size: 16px;
  font-weight: 500;
}

.signUp {
  background-color: #25dac5;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  /* width: 100px;
  height: 40px; */
}

/* Hero */
.hero {
  text-align: center;
  /* max-width: 800px; */
  margin-bottom: 111px;
}

.heroInner {
  height: 387px;
  width: 714px;
  max-width: fit-content; 
  margin-left:  auto;
  margin-right: auto;
  align-content: center;
  /* padding: 0 20px; */
}

.hero h1 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 32px;
  line-height: 70px;
  letter-spacing: 0.5px;
  height: 140px;
  width: 744px;
}

.hero p {
  font-size: 22px;
  color: #a1a1b0;
  margin: 0 auto;
  margin-bottom: 59px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  height: 96px;
  width: 585px;
}

.createAAccountButton {
  background-color: #ea4c89;
  color: white;
  padding: 18px 48px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  /* margin: 100px auto; */
}

/* Features */
.features {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  text-align: center;
  /* margin-bottom: 80px; */
}
.verticalLine {
  width: 2px;
  height: 110px; 
  background-color: #e6e6e6;
  border: none;
  opacity: 0.6;
}
.featureCard {
  flex:1 1 0;
  position: relative;
  max-width: 208px;
}

.featureCard img {
  width: 170px;
  height: 110px;
  border-radius: 10px;
  margin-bottom: 25.2px;
}

.featureCard p {
  color: #a1a1b0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  width: 228px;
  height: 84px;
}

