body {
  font-family: "Work Sans", sans-serif;
}
h1,
h2 {
  font-family: "Crimson Text", serif;
}
.navbar {
  background-color: #74c69d;
}
.navbar-brand span {
  color: white;
}
.nav-link {
  color: #ffffff;
}
.banner,
.footer {
  background-color: #74c69d;
}
h6 {
  color: #74c69d;
}
