* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

header {
  padding: 20px 0;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  gap: 43px;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 41px;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.ctaButton {
  background-color: #1da1f2;
  color: white;
  padding: 15px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("../images/herobg.jpg") no-repeat center center/cover;
  margin-top: -120px;
  text-align: center;
}

.banner .container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: start;
  margin: 0 auto;
}

.bannerContent h1 {
  font-size: 58px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 80px;
  letter-spacing: 0.2px;
}

.bannerContent p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 32px;
  color: #ffffff;
}

.bannerButtons {
  display: flex;
  gap: 16px;
}

.quoteBtn {
  background-color: #0d99ff;
  color: white;
  padding: 15px 36px;
  border-radius: 37px;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
}

.learnMoreBtn {
  border: 1px solid white;
  padding: 15px 36px;
  border-radius: 37px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.features {
  text-align: center;
  background-color: #252b42;
}

.features .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 0;
}

.featuresList {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.feature {
  flex: 1 1 30%;
  text-align: center;
  padding: 40px 45.5px;
}

.icon {
  width: 72px;
  height: 59.29px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.featureTitle {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.featureDescription {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.industryTestimonials {
  text-align: center;
  background-color: #8ec2f2;
}

.industryTestimonials .container {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionHeader {
  padding: 112px 268.5px 80px 268.5px;
}

.sectionHeader .title {
  color: #ffffff;
  /* text-transform: uppercase; */
  letter-spacing: 0.2px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 57px;
}

.sectionHeader .description {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 64px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.testimonialCards {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0px 0px 112px 0px;
}

.outerTestimonialCard {
  padding: 0 24px;
}

.testimonialCard {
  background-color: white;
  padding: 40px 24px 32.99px 50px;
  position: relative;
  text-align: left;
}

.profileImg {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: -18px;
  object-fit: cover;
}

.testimonialContent h3 {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.designation {
  color: #737373;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.stars {
  color: #f3cd03;
  margin-bottom: 15px;
}

.testimonialText {
  font-size: 14px;
  font-weight: 500;
  color: #737373;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.projects {
  text-align: center;
  background-color: #252b42;
}

.projects .container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.sectionHeaderProjects {
  padding-top: 112px;
  padding-bottom: 96px;
}

.sectionHeaderProjects .title {
  color: #ffffff;
  /* text-transform: uppercase; */
  letter-spacing: 0.2px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 57px;
}

.sectionHeaderProjects .description {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 64px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.projectCards {
  display: flex;
  gap: 21px;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 0px 15px 112px 15px;
}

.projectCard {
  position: relative;
  /* width: 322px; */
  height: 452px;
  overflow: hidden;
}

.projectCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cardContent {
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 14.58%,
    rgba(56, 56, 56, 0.84) 100%
  );
  width: 100%;
  text-align: left;
}

.cardContent .tag {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 15px;
  letter-spacing: 0.2px;
  opacity: 0.9;
}

.cardContent .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}

.projectBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #23a6f0;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.footer {
  background-color: #252b42;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footerItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;
  color: #ffffff;
  text-align: left;
}

.footerItems ul {
  list-style: none;
  padding: 0;
  margin: 0 20px;
  min-width: 160px;
}

.footerItems ul li {
  margin-bottom: 10px;
}

.footerItems ul li strong {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
}

.footerItems ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  opacity: 0.9;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.footerItems ul.contact i {
  margin-right: 8px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.footerItemsTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.footerCopyright {
  background-color: #f4f4f4;
  padding: 25px 0px;
  font-size: 14px;
  color: #737373;
  flex-wrap: wrap;
}

.footerCopyright .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerCopyright .socials {
  color: #23a6f0;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.footerCopyright .socials a {
  color: #0d99ff;
}

.footerCopyright p {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (min-width: 992px) and (max-width: 1250px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  header .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footerItems {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 50px 0;
    gap: -25px;
    color: #ffffff;
    text-align: left;
  }

  .footerItems ul {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    min-width: 100px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  header .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footerItems {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 40px 0;
    gap: 0px;
    color: #ffffff;
    text-align: left;
  }

  .footerItems ul {
    list-style: none;
    padding: 0;
    margin: 0 10px;
    min-width: 90px;
  }

  .footerItems ul li a,
  .footerItems ul li,
  .footerItems ul li strong {
    font-size: 12px;
    line-height: 20px;
  }
  .footerCopyright {
    padding: 10px 0px;
  }

  .sectionHeader {
    padding: 82px 0px 30px 0px;
  }
  .sectionHeaderProjects {
    padding: 82px 0px 30px 0px;
  }
  .cardContent .tag {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .cardContent .title {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .projectBtn {
    padding: 3px 8px;
    font-size: 10px;
    border-radius: 25px;
  }
  .projectCard {
    height: 360px;
  }
  .projectCards {
    padding-bottom: 15px;
  }
  .testimonialCard {
    padding-top: 40px;
    padding-left: 45px;
  }
  .features .container {
    padding: 60px 0;
  }

  .featuresList {
    gap: 20px;
  }

  .feature {
    padding: 25px 20px;
  }

  .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }

  .icon img {
    width: 55px;
    height: 55px;
  }

  .featureTitle {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  .featureDescription {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .banner {
    margin-top: -108px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  header .container {
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
  }

  .navLeft {
    gap: 20px;
  }

  .navLinks {
    gap: 16px;
  }

  .navLinks a {
    font-size: 12px;
  }

  .authButtons {
    gap: 10px;
  }

  .login {
    font-size: 12px;
  }

  .ctaButton {
    padding: 10px 16px;
    font-size: 12px;
    border-radius: 5px;
  }

  .ctaButton i {
    font-size: 12px;
  }

  .logo {
    font-size: 16px;
  }
  .bannerContent h1 {
    font-size: 42px;
    line-height: 50px;
  }

  .bannerContent p {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .bannerButtons {
    gap: 12px;
  }

  .quoteBtn,
  .learnMoreBtn {
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 30px;
  }
  .features .container {
    padding: 48px 0;
  }

  .featuresList {
    flex-wrap: nowrap;
    gap: 10px;
  }

  .feature {
    flex: 1 1 30%;
    padding: 20px 10px;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
  }

  .icon img {
    width: 35px;
    height: 35px;
  }

  .featureTitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .featureDescription {
    font-size: 12px;
    line-height: 18px;
  }
  .sectionHeader {
    padding: 60px 20px 40px 20px;
  }

  .sectionHeader .title {
    font-size: 28px;
    line-height: 40px;
  }

  .sectionHeader .description {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 40px;
  }

  .testimonialCards {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .outerTestimonialCard {
    padding: 0;
    max-width: 300px;
  }

  .testimonialCard {
    padding: 40px 24px 32px 42px;
    position: relative;
    text-align: left;
  }

  .testimonialCard .profileImg {
    position: absolute;
    left: -18px;
    top: 16px;
    margin-bottom: 20px;
  }

  .testimonialContent h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 4px;
  }

  .designation {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .testimonialText {
    font-size: 12px;
    line-height: 18px;
  }

  .stars i {
    font-size: 14px;
  }
  .sectionHeaderProjects {
    padding: 60px 20px 40px 20px;
  }

  .sectionHeaderProjects .title {
    font-size: 28px;
    line-height: 40px;
  }

  .sectionHeaderProjects .description {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 40px;
  }

  .projectCards {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px 60px 10px;
  }

  .projectCard {
    flex: 1 1 calc(50% - 10px);
    height: 360px;
  }

  .cardContent .tag {
    font-size: 12px;
    line-height: 18px;
  }

  .cardContent .title {
    font-size: 16px;
    line-height: 24px;
  }

  .projectBtn {
    padding: 8px 16px;
    font-size: 12px;
  }
  .footerItems {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 40px 0;
  }

  .footerItems ul {
    width: 100%;
    margin: 0;
  }

  .footerItems ul li {
    margin-bottom: 6px;
  }

  .footerItems ul li a,
  .footerItems ul li,
  .footerItems ul li strong {
    font-size: 13px;
    line-height: 20px;
  }
  .footerCopyright {
    padding: 7px 0px;
  }
}
@media (max-width: 599px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  header {
    padding: 0;
    background-color: #252b42;
    height: 50vh;
  }
  header .container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 0;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navLeft {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    padding: 23px 35px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-decoration: none;
  }

  .navLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    list-style: none;
    padding: 0;
  }

  .navLinks a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
  }

  .authButtons {
    display: none;
  }
  .banner {
    margin: 0;
  }
  .banner .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .bannerContent h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
  }

  .bannerContent p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }

  .bannerButtons {
    gap: 12px;
  }

  .quoteBtn,
  .learnMoreBtn {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    padding: 10px 36px;
    text-align: center;
  }
  .features .container {
    padding: 80px 0;
  }

  .featuresList {
    /* flex-wrap: nowrap; */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .feature {
    flex: 1 1 30%;
    padding: 40px 45.5px;
  }

  .icon {
    width: 72px;
    height: 59.29px;
    margin-bottom: 16px;
  }

  .icon img {
    width: 35px;
    height: 35px;
  }

  .featureTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .featureDescription {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .industryTestimonials .container {
    padding: 75px auto 80px auto;
  }
  .sectionHeader {
    padding: 50px;
  }

  .sectionHeader .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
  }

  .sectionHeader .description {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .testimonialCards {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .outerTestimonialCard {
    padding: 0;
    max-width: 300px;
  }

  .testimonialCard {
    padding: 40px 24px 32px 42px;
    position: relative;
    text-align: left;
  }

  .testimonialCard .profileImg {
    position: absolute;
    left: -18px;
    top: 16px;
    margin-bottom: 20px;
  }

  .testimonialContent h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .designation {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
  }

  .testimonialText {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .stars i {
    font-size: 14px;
  }
  .stars {
    margin-bottom: 15px;
  }
  .profileImg {
    display: none;
  }
  .projects .container {
    padding: 30px auto 52px auto;
  }
  .sectionHeaderProjects {
    padding: 50px;
    text-align: center;
  }

  .sectionHeaderProjects .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    margin-bottom: 30px;
  }

  .sectionHeaderProjects .description {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .projectCards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 20px 50px 20px;
    align-items: center;
  }

  .projectCard {
    width: 100%;
    max-width: 320px;
    height: auto;
  }
  .cardContent .tag {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .cardContent .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 15px;
  }

  .projectBtn {
    padding: 10px 36px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
  }
  .footerItems {
    flex-direction: column;
    align-items: first baseline;
    /* text-align: center; */
    gap: 24px;
    padding: 40px 88px;
  }

  .footerItems ul {
    width: 100%;
    margin: 0;
  }

  .footerItems ul li {
    margin-bottom: 6px;
  }

  .footerItems ul li strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  .footerItems ul li a,
  .footerItems ul li {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }

  .footerCopyright {
    background-color: #252b42;
  }

  .footerCopyright .container {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding: 25px 91.5px 25px 91.5px;
  }
  .footerCopyright .container p {
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: white;
  }
}
